<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="inicio" routerLink="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visitas" routerLink="visitas">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Visitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mi Casa</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
